@page "/Tax/{Id:decimal}"
@inherits GeneralComponent

<Form TDto=TaxDto
      TFilter=TaxesFilter
      Item=@nameof(Tax)
      AsModal=AsModal
      Id=Id>
    <Content Context="dto">

        <Field Name="Code" For="@(() => dto.Code)">
            <InputNumber class="form-control" @bind-Value="dto.Code" />
        </Field>

        <Field Name="Name" For="@(() => dto.TaxName)">
            <InputText class="form-control" @bind-Value="dto.TaxName" />
        </Field>

        <Field Name="Description" For="@(() => dto.TaxDescription)">
            <InputTextArea class="form-control" @bind-Value="dto.TaxDescription" />
        </Field>

    </Content>
</Form>

@code {

}
