@page "/Tax/{Id:decimal}"
@inherits GeneralComponent
@inject ITaxesService service

<EditForm Model="dto">
    <DataAnnotationsValidator />
    <div class="col-md-12 my-2">
        <div class="row my-1">
            <div class="col-md-3 my-auto">
                <label>Code</label>
            </div>
            <div class="col-md-6">
                <InputNumber class="form-control" @bind-Value="dto.TaxCode" />
            </div>
            <div class="col-md my-auto">
                <ValidationMessage For="@(() => dto.TaxCode)" />
            </div>
        </div>
        <div class="row my-1">
            <div class="col-md-3 my-auto">
                <label>Name</label>
            </div>
            <div class="col-md-6">
                <InputText class="form-control" @bind-Value="dto.TaxName" />
            </div>
            <div class="col-md my-auto">
                <ValidationMessage For="@(() => dto.TaxName)" />
            </div>
        </div>
        <div class="row my-1">
            <div class="col-md-3 my-auto">
                <label>Description</label>
            </div>
            <div class="col-md-6">
                <InputTextArea class="form-control" @bind-Value="dto.TaxDescription" />
            </div>
            <div class="col-md my-auto">
                <ValidationMessage For="@(() => dto.TaxDescription)" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        @if (Id.HasValue)
        {
            <Btn ValidateEditContext="false" Classes="btn-info" Text="New" ClickAction="New"></Btn>
            <Btn ValidateEditContext="false" Classes="btn-danger" Text="Delete" ClickAction="Delete"></Btn>
        }
        <Btn Type="submit" Classes="btn-success" Text="Save" ClickAction="HandlValidSubmit"></Btn>
    </div>
</EditForm>
@code {
    [Parameter]
    public Guid? Id { get; set; }
    TaxDto dto = new();
    protected override async Task OnInitializedAsync()
    {
        await GetTax();
    }
    private async Task GetTax()
    {
        if (!IsModal) HeaderService.ChangeHeaderAndTitle((Id.HasValue ? "Edit" : "Add") + " Tax");
        LoaderService.ToggleLoader();
        if (Id.HasValue) dto = await service.GetSingle(Id);
        else dto.TaxCode = await service.GetCode();
        LoaderService.ToggleLoader();        
    }
    private async Task HandlValidSubmit()
    {
        HttpResponseMessage httpResponseMessage;
        if (!Id.HasValue)
        {
            dto.TaxId = Guid.NewGuid();
            httpResponseMessage = await service.Create(dto);
            if (httpResponseMessage.IsSuccessStatusCode)
                Id = dto.TaxId;
            // GoTo("Tax", "Taxes", true, dto.TaxId);
        }
        else
            httpResponseMessage = await service.Edit(dto);
        await ShowResultMessage(httpResponseMessage);

    }
    private async Task New()
    {
        Id = null;
        dto = new TaxDto();
        await GetTax();
    }
    private async Task Delete()
    {
        if (await ShowConfirm("Delete Confirmation", "Are you sure to delete this Tax?"))
        {
            var response = await service.Delete(Id);
            if (response.IsSuccessStatusCode)
                GoTo("Taxs", "Taxs");
            await ShowResultMessage(response);
        }
    }
}
