@page "/EInvoices"

<Grid TForm=EInvoice TDto=EInvoiceDto TFilter=EInvoicesFilter TableDesignType=TableDesign.Table MultiSelect=true ActionsAsModal=false>
    <FilterTemplate Context="filter">
        <div class="flex-grow-1">
            <label>Type</label>
            <Options T=EInvoiceTypeEnum @bind-Value=filter.EInvoiceType DisplayName=@nameof(filter.EInvoiceType) ShowChoose=true />
        </div>
        <div class="flex-grow-1">
            <label>Customer</label>
            <Select AutoComplete="true" @bind-Value="filter.CustomerName" @bind-Key="filter.CustomerId"
                    TDto="CustomerDto" TFilter="CustomersFilter" />
        </div>
        <div class="flex-grow-1">
            <label>Date From</label>
            <input type="datetime-local" class="form-control" @bind="filter.DateTimeIssuedFrom" />
        </div>
        <div class="flex-grow-1">
            <label>Date To</label>
            <input type="datetime-local" class="form-control" @bind="filter.DateTimeIssuedTo" />
        </div>
    </FilterTemplate>
</Grid>

@code {

}
