@page "/EInvoices"
@inherits GeneralComponent
<PageTitle>EInvoices</PageTitle>

<h3>EInvoices</h3>

@code {
    // protected override void OnInitialized()
    // {
    //     Layout.ToggleLoader();
    // }
}
