@page "/Customer/{Id:guid?}"
@inherits GeneralComponent

<Form TDto=CustomerDto 
      TFilter=CustomersFilter
      Item=@nameof(Customer)
      AsModal=AsModal 
      Id=Id>
    <Content Context=dto>

        <Field Name="Code" For="@(() => dto.Code)">
            <InputNumber class="form-control" @bind-Value="dto.Code" />
        </Field>

        <Field Name="Name" For="@(() => dto.CustomerName)">
            <InputText class="form-control" @bind-Value="dto.CustomerName" />
        </Field>

    </Content>
</Form>

@code {

}
