@page "/Customers"
@inherits GeneralComponent
<PageTitle>Customers</PageTitle>

<h3>Customers</h3>

@code {
    // protected override void OnInitialized()
    // {
    //     Layout.ToggleLoader();
    // }
}
