@page "/Customer/{Id:guid?}"
@inherits GeneralComponent
@inject ICustomersService service

<EditForm Model="dto">
    <DataAnnotationsValidator />
    <div class="col-md-12 my-1">
        <div class="row my-1">
            <div class="col-md-2 my-auto">
                <label>Code</label>
            </div>
            <div class="col-md-5">
                <InputNumber class="form-control" @bind-Value="dto.CustomerCode" />
            </div>
            <div class="col-md my-auto">
                <ValidationMessage For="@(() => dto.CustomerCode)" />
            </div>
        </div>
        <div class="row my-1">
            <div class="col-md-2 my-auto">
                <label>Name</label>
            </div>
            <div class="col-md-5">
                <InputText class="form-control" @bind-Value="dto.CustomerName" />
            </div>
            <div class="col-md my-auto">
                <ValidationMessage For="@(() => dto.CustomerName)" />
            </div>
        </div>
    </div>
    <div class="text-end">
        @if (Id.HasValue)
        {
            <Btn ValidateEditContext="false" Classes="btn-info" Text="New" ClickAction="New"></Btn>
            <Btn ValidateEditContext="false" Classes="btn-danger" Text="Delete" ClickAction="Delete"></Btn>
        }
        <Btn Classes="btn-success" Text="Save" ClickAction="HandlValidSubmit"></Btn>
    </div>
</EditForm>
@code {
    [Parameter]
    public Guid? Id { get; set; }
    CustomerDto dto = new();
    protected override async Task OnInitializedAsync()
    {
        await GetCustomer();
    }
    private async Task GetCustomer()
    {        
        if (!IsModal) HeaderService.ChangeHeaderAndTitle((Id.HasValue ? "Edit" : "Add") + " Customer");
        LoaderService.ToggleLoader();
        if (Id.HasValue) dto = await service.GetSingle(Id);
        else dto.CustomerCode = await service.GetCode();
        LoaderService.ToggleLoader();        
    }
    private async Task HandlValidSubmit()
    {
        HttpResponseMessage httpResponseMessage;
        if (!Id.HasValue)
        {
            dto.CustomerId = Guid.NewGuid();
            httpResponseMessage = await service.Create(dto);
            if (httpResponseMessage.IsSuccessStatusCode)
                Id = dto.CustomerId;
            // GoTo("Customer", "Customers", true, dto.CustomerId);
        }
        else
            httpResponseMessage = await service.Edit(dto);
        await ShowResultMessage(httpResponseMessage);

    }
    private async Task New()
    {
        Id = null;
        dto = new CustomerDto();
        await GetCustomer();
    }
    private async Task Delete()
    {
        if (await ShowConfirm("Delete Confirmation", "Are you sure to delete this Customer?"))
        {
            var response = await service.Delete(Id);
            if (response.IsSuccessStatusCode)
                GoTo("Customers");
            await ShowResultMessage(response);
        }
    }
}
