.shadow-box {
    box-shadow: 0 .125rem 0.25rem var(--tertiary-color) !important;
}
.card {
    transition: 500ms ease-in-out;
    width: 300px !important;
}
.card:hover {
    background-color: var(--tertiary-color);
    transform: scale(1.1);
    transition: 500ms ease-in-out;
    z-index: 5;
}
