@page "/Item/{Id:guid?}"
@using EInvoiceDemo.Shared.DTOs.Item
@implements IForm

<Form TDto=ItemDto
      TFilter=ItemsFilter
      OnLoadCreate="async form => form.Dto.Code = await form.Service.GetCode()"
      Id=Id>
    <Field Name="Code" For="() => context.Code">
        <InputNumber class="form-control" @bind-Value="context.Code" />
    </Field>

    <Field Name="Name" For="() => context.ItemName">
        <InputText class="form-control" @bind-Value="context.ItemName" />
    </Field>

    <Field Name="Description" For="() => context.ItemDescription">
        <InputTextArea class="form-control" @bind-Value="context.ItemDescription" />
    </Field>
</Form>

@code {
    [Parameter]
    public Guid? Id { get; set; }
}
