@page "/Item/{Id:guid?}"
@inherits GeneralComponent

<Form TDto=ItemDto
      TFilter=ItemsFilter
      Item=@nameof(Item)
      Id=Id>
    <Content Context="dto">

        <Field Name="Code" For="@(() => dto.Code)">
            <InputNumber class="form-control" @bind-Value="dto.Code" />
        </Field>

        <Field Name="Name" For="@(() => dto.ItemName)">
            <InputText class="form-control" @bind-Value="dto.ItemName" />
        </Field>

        <Field Name="Description" For="@(() => dto.ItemDescription)">
            <InputTextArea class="form-control" @bind-Value="dto.ItemDescription" />
        </Field>

    </Content>
</Form>

@code {

}
