@inject IJSRuntime JS
<a @ref="Element" class="btn rounded-3 shadow-sm ms-2 @Classes" @onclick="@RunAction" disabled="@IsActionRun" role="button" @attributes="AdditionalAttributes">
    @SpanIcon
    @Text
    @if (IsActionRun)
    {
        <span class="spinner-grow spinner-grow-sm mx-1" role="status"></span>
    }
</a>
@if (EditContext is not null && ValidateEditContext)
{
    <NavigationLock OnBeforeInternalNavigation="CheckForModification" />
}
@code {
    [Parameter]
    public string Text { get; set; } = "";
    [Parameter]
    public string Classes { get; set; } = "";
    [Parameter]
    public EventCallback ClickAction { get; set; }
    [Parameter]
    public RenderFragment? SpanIcon { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter]
    public bool ValidateEditContext { get; set; } = true;
    [Parameter]
    public bool CloseAfterSave { get; set; } = false;
    [CascadingParameter]
    public EditContext? EditContext { get; set; }
    [CascadingParameter] 
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private bool IsActionRun = false;
    private ElementReference Element;

    private async Task CheckForModification(LocationChangingContext context)
    {
        if (EditContext.IsModified())
        {
            var confirm = await JS.InvokeAsync<bool>("window.confirm", "There are unsaved changes!, Do you want to leave?");
            if (!confirm) context.PreventNavigation();
        }
    }
    private async Task RunAction()
    {
        if (EditContext == null || !ValidateEditContext || EditContext.Validate())
        {
            IsActionRun = true;
            try
            {
                await ClickAction.InvokeAsync();
                if (BlazoredModal is not null && CloseAfterSave)
                    await BlazoredModal.CloseAsync();
                else if (CloseAfterSave)
                    await JS.InvokeVoidAsync("history.back");
            }
            catch (Exception ex)
            {
                throw new Exception(ex.Message);
            }
            finally
            {
                IsActionRun = false;
            }

        }
    }
}