<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-0 text-warning"><i class="bi bi-exclamation-triangle"></i></h1>
    <h5 class="my-0">@Text</h5>
    <div class="d-flex justify-content-center align-items-center mt-3">
        <a role="button" class="btn btn-danger mx-1" @onclick="Confirm">Confirm</a>
        <a role="button" class="btn btn-secondary mx-1" @onclick="Cancel">Cancel</a>
    </div>
</div>
@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private async Task Confirm() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    private async Task Cancel() => await BlazoredModal.CancelAsync();

}
