@using System.Linq.Expressions
<div class="row my-1">
    <div class="col-md-2 my-auto">
        <label>@Name</label>
    </div>
    <div class="col-md-5">
        @ChildContent
    </div>
    <div class="col-md my-auto">
        <ValidationMessage For="For" />
    </div>
</div>

@code {
    [Parameter] public string? Name { get; set; }
    [Parameter] public Expression<Func<object>>? For { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
