@using System.Linq.Expressions

<div class="row my-1">
    @if (Name.HasValue())
    {
        <div class="col-lg-2 col-md-3 my-auto">
            <label>@Name</label>
        </div>
    }
    <div class="col-lg-7 col-md-9">
        @ChildContent
    </div>
    @if (For is not null)
    {
        <div class="col-lg-3 col-md-12 my-auto">
            <ValidationMessage For="For" />
        </div>
    }
</div>

@code {
    [Parameter] public string? Name { get; set; }
    [Parameter] public Expression<Func<object>>? For { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
