@inject HeaderService service
@implements IDisposable
<PageTitle>@service.Title</PageTitle>
<div class="top-row px-4">
    <h3>@service.Title</h3>
    <a href="https://www.codezone-eg.com/" target="_blank">About</a>
</div>

@code {
    protected override void OnInitialized()
    {
        service.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        service.OnChange -= StateHasChanged;
    }
}
