@inject HeaderService service
@inject NavigationManager Navigation
@implements IDisposable

<PageTitle>@service.Title</PageTitle>
<div class="top-row px-4">
    <h3>@service.Title</h3>
    <AuthorizeView>
        <button class="btn btn-outline-secondary border-0 shadow-none" @onclick=Logout>Logout</button>
    </AuthorizeView>
</div>

@code {
    protected override void OnInitialized()
    {
        service.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        service.OnChange -= StateHasChanged;
    }
    private void Logout()
    {
        Navigation.NavigateTo($"/logout?returnUrl={Uri.EscapeDataString(Navigation.Uri)}", true);
    }
}
