.loader {
    width: fit-content;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99;
    color: var(--primary-color);
}
