@inject LoaderService service
@implements IDisposable
@if (service.IsLoading)
{
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        service.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        service.OnChange -= StateHasChanged;
    }
    // [Parameter] public bool Toggle { set; get; } = false;
}
