@inject IModalService modalService
@implements IDisposable
@if (modals.Count != 0)
{
    foreach (var (modal, index) in modals.Select((c, i) => (c, i)))
    {
        <CascadingValue Value="modal">

            <div class="modal bg d-block" tabindex="@(index+10)" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                @if (modal.Icon.HasValue())
                                {
                                    <i class="@modal.Icon mx-2"></i>                                
                                }
                                @modal.Title
                            </h5>
                            <button type="button" class="btn-close" @onclick=@(async () => await RemoveModal(modal))></button>
                        </div>
                        <div class="modal-body">
                            <DynamicComponent Type=modal.ComponentType Parameters="modal.Parameters" />
                        </div>
                    </div>
                </div>
            </div>

        </CascadingValue>
    }
}

@code {
    List<ModalData> modals = new();
    protected override void OnInitialized()
    {
        modalService.OnModalAdded += AddModal;
        modalService.OnModalClosed += RemoveModal;
        base.OnInitialized();
    }
    async Task AddModal(ModalData modal)
    {
        modals.Add(modal);
        await InvokeAsync(StateHasChanged);
    }
    async Task RemoveModal(ModalData modal)
    {
        modal.EndAwait();
        modals.Remove(modal);
        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        modalService.OnModalAdded -= AddModal;
        modalService.OnModalClosed -= RemoveModal;
    }
}
