th {
    background-color: var(--secondary-color) !important;
    color: #FFFFFF !important;
}

    th:first-child, td:first-child {
        text-align: center;
    }

    td:last-child, th:last-child {
        text-align: end;
    }

    th:first-child {
        border-top-left-radius: 20px;
    }

    th:last-child {
        border-top-right-radius: 20px;
    }

    th:not(:first-child,th:last-child) {
        cursor: pointer;
    }

tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}
