.table-div {
    overflow-x: auto;
}

th {
    background-color: var(--secondary-color) !important;
    color: #FFFFFF !important;
}

    th:first-child, td:first-child {
        text-align: center;
    }

    th:last-child, td:last-child {
        text-align: end;
    }

    th:first-child {
        border-top-left-radius: 20px;
    }

    th:last-child {
        border-top-right-radius: 20px;
    }

    th:not(:first-child,th:last-child)[scope] {
        cursor: pointer;
    }

tr {
    text-align: left;
}

    tr:last-child td:first-child {
        border-bottom-left-radius: 20px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 20px;
    }

    tr td:last-child > ::deep span {
        margin: 0;
    }

@media (min-width: 800px) {
    tr td:last-child > ::deep span:not(:last-child) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

    li:first-child {
        background-color: var(--secondary-color);
        color: white;
    }

        li:first-child > div {
            display: flex;
            justify-content: end;
            gap: 0.5rem;
        }

    li:not(:first-child) > div {
        flex-grow: 1;
    }

        li:not(:first-child) > div > span, li:not(:first-child) > div > ::deep span, li:not(:first-child) > div > ::deep span > div {
            display: inline-block;
        }

    li:not(:first-child) div:last-child {
        text-align: end;
    }

        li:not(:first-child) div:last-child ::deep span:not(:last-child) {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
