@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                IconType="IconType.FontAwesome"
                Timeout="10"
                RemoveToastsOnNavigation=true
                SuccessClass="success-toast-override"
                SuccessIcon="bi bi-check-circle"
                ErrorIcon="bi bi-bug"
                InfoIcon="bi bi-info-circle"
                WarningIcon="bi bi-exclamation-triangle" />

<div class="page">
    <Modals />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <Header />

        <article>
            <Loader />
            @Body
        </article>
    </main>
</div>

@code {

}