@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="bi bi-check-circle"
                ErrorIcon="bi bi-bug"
                InfoIcon="bi bi-info-circle"
                WarningIcon="bi bi-exclamation-triangle" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <Header />

        <article class="content p-2">
            <div class="container">
                <Loader />
                @Body
            </div>
        </article>
    </main>
</div>